@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

header {
  height: 60px;
  /* background-color: red; */
}

.navbar {
  margin: 1.5rem 0;
  display: flex;
  list-style: none;
  justify-content: center;
}

.navbar li a {
  color: black;
  text-decoration: none;
  padding: 1.5rem;
}
a.active {
  color: #2590f4 !important;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

/* hero section styles */

.hero {
  padding: 80px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./images/bg.jpeg");
  background-size: cover;
  background-position: center;
}

.about-section {
  width: 712px;
  margin: 0 auto;
  border: 20px solid #2590f4;
  background-color: rgba(255, 255, 255, 0.4);

  padding: 80px 30px;
  text-align: center;
  color: white;
}
.about-section h1 {
  font-size: 48px;
}
.about-section p {
  margin-top: 17px;
  font-size: 18px;
  line-height: 2;
}

button {
  background-color: #2590f4;
  border: none;
  padding: 10px 30px;
  color: white;
  margin-top: 2rem;
  cursor: pointer;
}

/* join us styles  */

.join-us {
  padding: 60px;
  background-repeat: no-repeat;
  background-image: url("./images/join-us-bg.jpeg");
  background-size: 50%;
  background-position-x: 80%;
  background-position-y: center;
}
.join-us .text {
  width: 45%;
  padding: 30px;
}
.join-us .text h1 {
  font-size: 48px;
  line-height: 1.1;
  margin-bottom: 1.2rem;
}
.join-us .text p {
  margin-bottom: 1.2rem;
}

/* projects section styles  */
.projects {
  background-color: #f2f2f2;
  text-align: center;
  padding: 50px 0;
}
.project-box {
  background-color: red;
  width: 370px;
  height: 327px;
}
.projects-box {
  display: flex;
  flex-wrap: wrap;
  gap: calc((1140px - (370px * 3)) / 2);
}

.project-box {
  background-size: cover;
}
.project-box:nth-child(1) {
  background-image: url("./images/project.jpeg");
}
.project-box:nth-child(2) {
  background-image: url("./images/project.jpeg");
}
.project-box:nth-child(3) {
  background-image: url("./images/project.jpeg");
}
.project-box:nth-child(4) {
  background-image: url("./images/project.jpeg");
}
.project-box:nth-child(5) {
  background-image: url("./images/project.jpeg");
}
.project-box:nth-child(6) {
  background-image: url("./images/project.jpeg");
}
.project-box:nth-child(7) {
  background-image: url("./images/project.jpeg");
}
.project-box:nth-child(8) {
  background-image: url("./images/project.jpeg");
}
.project-box:nth-child(9) {
  background-image: url("./images/project.jpeg");
}

.projects h1 {
  font-size: 48px;
  margin-bottom: 20px;
}
.projects p {
  margin-bottom: 40px;
}

/* join us section second styles  */
.join-us-second .container > div {
  display: flex;
  align-items: center;
}
.join-us-second .container > div > div {
  flex-basis: 50%;
}
.join-us-image {
  width: 570px;
  height: 550px;
  overflow: hidden;
}

.join-us-image img {
  width: 100%;
}

.join-us-second .text {
  padding: 30px;
}
.join-us-second .text h1 {
  font-size: 48px;
  margin-right: 90px;
  line-height: 1.1;
  margin-bottom: 1.8rem;
}
.join-us-second .text p {
  line-height: 2;
  margin-bottom: 1rem;
}

.join-us-image {
  display: flex;
  align-items: center;
}

.join-us-second {
  padding: 50px 0;
}
